body {
    /* background-color: black;
    color: white; */
    background-color: rgb(226, 224, 224);
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Petit Formal Script', cursive;
    /* outline: 1px solid white;
    border-radius: 5px; */
    /* box-shadow: 0 0 5px white; */
}

#jokeElem {
    box-shadow: 0 0 10px rgb(105, 198, 235);
    padding: 15px;
}